@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;600&display=swap');

/* color variables */
:root {
    --linkGray: #645e6b;
    --hoverGray: #868f97;
    --olive: #4E4216;
    --darkTan: #8F7759;
    --beige: #A29780;
    --lightTan: #BAA782;    
}

html{
    height: 100%;
    background-color: #b98c6e;
}

body {
    margin: 0 2% 0 2%;
}

header {
    margin-left: 1.5%;
}

nav {
    display: flex;
    width: 50%;
}

#tab1 {
    background: var(--olive);
    width: 25%;
    display: flex;
    justify-content: center;
    clip-path: polygon(20% 50%, 80% 50%, 100% 100%, 0% 100%);
}

#tab1:hover {
    clip-path: polygon(20% 25%, 80% 25%, 100% 100%, 0% 100%);
}

#tab2:hover {
    clip-path: polygon(20% 25%, 80% 25%, 100% 100%, 0% 100%);
}

#tab3:hover {
    clip-path: polygon(20% 25%, 80% 25%, 100% 100%, 0% 100%);
}

#tab4:hover {
    clip-path: polygon(20% 25%, 80% 25%, 100% 100%, 0% 100%);
}


#tab2 {
    background: var(--darkTan);
    width: 25%;
    display: flex;
    justify-content: center;
    clip-path: polygon(20% 50%, 80% 50%, 100% 100%, 0% 100%);
}

#tab3 {
    background: var(--beige);
    width: 25%;
    display: flex;
    justify-content: center;
    clip-path: polygon(20% 50%, 80% 50%, 100% 100%, 0% 100%);
}

#tab4 {
    background: var(--lightTan);
    width: 25%;
    display: flex;
    justify-content: center;
    clip-path: polygon(20% 50%, 80% 50%, 100% 100%, 0% 100%);
}

h1 {
    margin: 0 auto;
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    color: #ffffff;
}

p {
    margin: 0%;
    padding: 1%;
    font-family: 'Quicksand';
    font-size: 1.5em;
    color: #ffffff;
}

ul {
    margin: 0%;
    padding: 0%;
    display: flex;
    width: 100%;
}

li {
    list-style: none;
    height: 100px;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-family: 'Quicksand';
    font-size: 1.75em;
    font-weight: 600;
    margin-top: 25%;
    width: 230px;
    color: #ffffff;
}

li:hover button {
    margin-top: 0%;
}

#block1 {
    display: flex;
    width: 100%;
    min-height: 500px;
    background-color: var(--olive);
}

#block2 {
    display: flex;
    width: 100%;
    min-height: 500px;
    background-color: var(--darkTan);
}

#block3 {
    display: flex;
    width: 100%;
    min-height: 500px;
    background-color: var(--beige);
}

#block4 {
    display: flex;
    width: 100%;
    min-height: 500px;
    background-color: var(--lightTan);
}